h1 {
  font-family: "Fjalla One", sans-serif;
}

a {
  color: rgb(230, 76, 127);
}

.footer {
  text-align: center;
  margin-top: 1em;
  padding: 1.2em;
}

body {
  font-family: "Kanit", sans-serif;
  font-size: 16px;
  color: white;
}

.main {
  width: 100%;
  height: 100%;
  background: black;
}

/* center quote  */
.ui.huge.header.quote {
  color: white;
  font-size: 2.4em;
  margin: 2em;
}

/* data or numbers */
.ui.huge.header.data {
  color: white;
  font-size: 3.5em;
}

/* data label like affected, deaths */
.data-label {
  font-size: 2em;
  padding: 1px;
  margin: auto;
}

/* cards */
.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
}
.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}
.card .card_image video {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
  background-color: purple;
}
.card .card_title {
  position: relative;
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -200px;
  height: 40px;
}
.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}
.card.country {
  width: 500px;
  height: 500px;
}
.card .card_title.country {
  margin-top: -340px;
  font-size: 40px;
}
.card .title-white {
  color: white;
}
.title-black {
  color: black;
}

/* country list dropdown */
div.sixteen.wide.column.country {
  margin-top: 2em;
}

/* media query for devices below 370px */
@media all and (max-width: 380px) {
  /* center quote  */
  .ui.huge.header.quote {
    font-size: 1.5em;
    margin: 0.9em 0.5em 0.9em 0.5em;
    padding: 0.4em;
  }
  .data-label {
    font-size: 1.5em;
  }
  .card.country {
    width: 300px;
    height: 300px;
  }
  .card .card_title.country {
    margin-top: -200px;
    font-size: 27px;
  }
}

/* media query for devices between 370px and 650px */
@media only all and (min-width: 380px) and (max-width: 650px) {
  .ui.huge.header.quote {
    font-size: 2em;
    margin: 0.9em 0.5em 0.9em 0.5em;
    padding: 0.5em;
  }
  .data-label {
    font-size: 1.5em;
  }
  .country-facts-label {
    font-size: 0.9em;
  }
  .card.country {
    width: 395px;
    height: 395px;
  }
  .card .card_title.country {
    margin-top: -260px;
    font-size: 34px;
  }
}

@media only all and (min-width: 650px) and (max-width: 1200px) {
  .ui.huge.header.quote {
    font-size: 45px;
    margin: 0.9em 0.5em 0.9em 0.5em;
    padding: 1em;
  }
  .data-label {
    font-size: 1.5em;
  }
}

@media only all and (min-width: 1200px) {
  .ui.huge.header.quote {
    font-size: 45px;
    margin: 0.9em 0.5em 0.9em 0.5em;
    padding: 1em;
  }
  .data-label {
    font-size: 1.5em;
  }
}
