h1 {
  font-family: "Fjalla One", sans-serif;
}

a {
  color: pink;
}

.footer {
  text-align: center;
}

body {
  font-family: "Kanit", sans-serif;
  font-size: 16px;
  color: white;
}


.main {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/gray-surface-450055.jpgg") black
    no-repeat center center/cover;

}


/* center quote  */
.ui.huge.header.quote {
  color: white;
  font-size: 2.1em;
  margin: 2em;
}

/* data or numbers */
.ui.huge.header.data{
  color: white;
  font-size: 3.5em;
}

/* tiles */
.ui.test.ad {
  margin: 1.4em;
  padding: 2em;
  opacity: 0.7;
  transition: opacity 0.5s ease;
}

/* tiles */
.ui.test.ad:hover {
  margin: 1.4em;
  padding: 2em;
  background-color: grey;
  opacity: 1;
}

/* data label like affected, deaths */
.data-label {
  font-size: 2em;
  padding: 1px;
  margin: auto;
}

/* media query for devices below 370px */
@media screen and (max-width: 370px) {
  /* center quote  */
  .ui.huge.header.quote {
    font-size: 1.4em;
    margin: 0.9em 0.5em 0.9em 0.5em;
    padding: 0.7em;
  }


}

/* media query for devices between 370px and 650px */
@media screen and (min-width: 370px and max-width: 650px) {

  .ui.huge.header.quote {
    font-size: 80px;
    margin: 0.9em 0.5em 0.9em 0.5em;
    padding: 1em;
  }


}


/* cards----------- */
.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
  background-color: black;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -200px;
  height: 40px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}
